*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-bar {
    /* margin-top: 1rem; */
    width: 100%;
    height: 110px;
    display: flex;
    /* background-color: red; */
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0rem;
    z-index: 5;
}
.bar-content {
    display: flex;
    z-index: 5;
    color: #71777b;
    justify-content: space-around;
    width: 95%;
    margin-left: 9%;
    padding-top: 4%;
    font-family: 'Poppins', sans-serif;
}

.nav-item-link:hover{
    color: rgb(113, 119, 123);
    text-decoration: underline;
}
.nav-item-link:visited{
    color: rgb(113, 119, 123);
    text-decoration: none;
}
.nav-item-link{
    color: rgb(113, 119, 123);
    text-decoration: none;
}
.nav-item-link:active{
    color: rgb(113, 119, 123);
    text-decoration: none;
}
.basic-intro{
    width: 100%;
    background-color: rgb(239, 238, 236);
}
.minister-pic-div{
    display: flex;
    width: 400px;
    margin-left: 335px;
    padding-top: 40px;
}
.ministers-pic
{
    height:200px;
    width: 200px;
    padding-top:15px ;
}
.modi{
    width: 250px;
}
.yogi{
    width: 300px;
}
.murmu{
    padding-top:15px ;
}
@keyframes fadein {
    0%{opacity:0}
    100%{opacity: 1}
}
.basic-intro-head{
    padding-top: 110px;
    font-size: 90px;
    text-align: center;
    animation-name: fadein;
    animation-duration: 3s;

}
.fadein{
    animation-name: fadein;
    animation-duration: 2s;
}
.basic-intro-dis{
    font-size: 20px;
    text-align: center;
    animation-name: fadein;
    animation-duration: 3s;
}
.logo{
    padding-left: 10px;
    width: 200px;
    height: 50px;
    
    margin-left: 25px;
  }

  .logolink{
    margin-top: 3%;
  }
 

  .features-intro{
   
    animation-name: fadein;
    animation-duration: 3s;
    width: 80%;
    margin-top: 70px;
    margin-left: 10%;
    text-align: center;
    font-size: 30px;
    color:rgb(20, 20, 20);
    display: flex;
    justify-content: space-around;
}

.ss{
    width: 80%;
    border: 1px solid red;
    height: 410px;
    position: absolute;
}

.slides{
    border: 1px solid yellow;
    width: 80%;
    margin-left: 11.5%;
    margin-top:7%;
    height:460px
}


.slide2,.slide3,.slide4,.slide5,.slide6,.slide7,.slide8,.slide9,.slide10{
    visibility: hidden;
}

.next,.prev{
    position: relative;
}

.next{
top: 26rem;
left: 91%;
}
.prev{
    top: 26rem;
    left: 1%;
}
.featureimg{
    width: 100px;
    height: 100px
}
.featuredis{
    margin-top: 6px;
    font-size: 16px;

}