*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-bar {
    /* margin-top: 1rem; */
    width: 100%;
    height: 132px;
    display: flex;
    /* background-color: red; */
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0rem;
    padding-bottom:8px ;
    z-index: 5;
}
.bar-content {
    display: flex;
    z-index: 5;
    color: #71777b;
    justify-content: space-around;
    width: 70%;
    margin-left: 12%;
    padding-top: 4%;
    font-family: 'Poppins', sans-serif;
}
#user{
    margin-right: 5px;
}
.nav-items{
    cursor: pointer;
}
.nav-items:hover{
    text-decoration: underline;
} 
.nav-item-link{
    height: 20px;
}
.nav-item-link:hover{
    color: rgb(113, 119, 123);
    text-decoration: underline;
}
.nav-item-link:visited,.logolink:visited{
    color: rgb(113, 119, 123);
    text-decoration: none;
}
.nav-item-link,.logolink{
    color: rgb(113, 119, 123);
    text-decoration: none;
}
.nav-item-link:active,.logolink:active{
    color: rgb(113, 119, 123);
    text-decoration: none;
}
.basic-intro{
    width: 100%;
    background-color: rgb(239, 238, 236);
}
.minister-pic-div{
    display: flex;
    width: 400px;
    margin-left: 461px;
    padding-top: 40px;
}
.ministers-pic
{
    height:200px;
    width: 200px;
    padding-top:15px ;
}
.modi{
    width: 250px;
}
.yogi{
    width: 300px;
}
.murmu{
    padding-top:15px ;
}
@keyframes fadein {
    0%{opacity:0}
    100%{opacity: 1}
}
.basic-intro-head{
    padding-top: 110px;
    font-size: 90px;
    text-align: center;
    animation-name: fadein;
    animation-duration: 3s;

}
.fadein{
    animation-name: fadein;
    animation-duration: 2s;
}
.basic-intro-dis{
    font-size: 20px;
    text-align: center;
    animation-name: fadein;
    animation-duration: 3s;
}

.logo {
    padding-left: 10px;
    width: 62px;
    height: 83px;
    margin-left: 25px;
}
  .logolink{
    margin-top: 3%;
  }
  .logolink{
    padding-top: 5px;
  }
.logodiv{
    display: flex;
}
.title{
    padding-top: 14px;
    margin-left: 6px;
    padding-left: 8px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: black;
}

  .features-intro{
   
    animation-name: fadein;
    animation-duration: 3s;
    width: 80%;
    margin-top: 100px;
    margin-left: 10%;
    text-align: center;
    font-size: 30px;
    color:rgb(20, 20, 20);
    display: flex;
    justify-content: space-around;
}

.ss {
    width: 83%;
    /* border: 1px solid red; */
    /* height: 490px; */
    position: absolute;
    display: flex;
    box-shadow: -3px -3px 9px #aaa9a95c, 3px 3px 7px rgb(147 149 151 / 25%);
    margin-left: 4%;
    padding: 20px;
}
.slide10{
        width: 83%;
        /* border: 1px solid red; */
        /* height: 490px; */
        position: absolute;
        display: flex;
        box-shadow: -3px -3px 9px #aaa9a95c, 3px 3px 7px rgb(147 149 151 / 25%);
        margin-left: 4%;
        padding: 20px 47px 20px 20px;
}
.picdiv{
    /* height: 410px; */
    width: 30%;
    /* border:1px solid green; */
}
.pic{
    height: 490px;
    width:90%;
}
.vidyatutpic{
    width: 103%;
}
.jspic{
    width: 78%;
}
.nsppic{
    width: 105%;
}
.startuppic {
    width: 162%;
    
}
.skillindiadigitaldis{
    width: 51%;
    margin-left: 12%;
}
.skillindiadigitaltutdis{
    width: 55%;
    margin-left: 9%;
}


.skillindiadigitalpic {
    width: 140%;
}
.startupdis{
    width: 52%;
    margin-left: 18%;
}
.dis{
    /* height: 410px; */
    width: 67%;
    /* border: 1px solid rgb(114, 58, 68); */
    text-align: center;
    opacity: 0.8;
}
.nspdis{
    margin-left: 4%;
}
.nsppic2{
width: 107%;
}
.nsptutdis{
width: 62%;
margin-left:6% ;
}
.slides{
    /* border: 1px solid yellow; */
    width: 95%;
    margin-left: 3%;
    margin-top:12%;
    height:460px;
}


.slide2,.slide3,.slide4,.slide5,.slide6,.slide7,.slide8,.slide9,.slide10{
    visibility: hidden;
}


.prev {
    margin-left: 1%;
}
.next {
    margin-left: 2%;
}
.next, .prev {
    border-style: none;
    width: 39px;
    padding: 0px;
    border-radius: 20px;
    border: 1px solid rgb(184 171 147);
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(184 171 147);
    /* top: 1175px; */
    color: white;
    height: 27px;
    margin-top: 16%;
    font-weight: 400;
    /* position: absolute; */
}
.featureimg{
    width: 100px;
    height: 100px
}
.featuredis{
    margin-top: 6px;
    font-size: 16px;

}
.dishead{
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 700;
}
.readbtn{
    text-decoration: none;
    background-color:rgb(184 171 147);
    color: white;
    border-style: none;
    padding: none;
    cursor: pointer;
}
.link {
        border-style: none;
        width: 13%;
        padding: 10px;
        border-radius: 22px;
        background-color:rgb(184 171 147);
        color: white;
        font-weight: 700;
        cursor: pointer;
        margin-top: 60px;
        display: block;
        margin-left: 85%;
        text-decoration: none;

}
.link2{
        border-style: none;
        width: 17%;
        padding: 10px;
        border-radius: 22px;
        background-color:rgb(184 171 147);
        color: white;
        font-weight: 700;
        cursor: pointer;
        margin-top: 60px;
        display: block;
        text-decoration: none;
        margin-left: 2%;
}
.readbtn:active{
    border-style: none;
    border-radius: 22px;
    background-color: rgb(211, 200, 179);
    color: white;
    text-decoration: none;
}

.readbtn:visited{
    border-style: none;
    border-radius: 22px;
    background-color: rgb(211, 200, 179);
    color: white;
    text-decoration: none;
}
.pdf{
    display: inline-block;
}
.pdfvid{
    display: flex;
    width: 88%;
}
.footer{
   
    background-color: rgb(167 154 129);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.twit,.git,.insta,.linkedin{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.usefulllinks{
    color: white;
    text-decoration: none;

}

.usefullinks:visited{
    color: white;
    text-decoration: none;
}
.usefullinks:active{
    color: white;
    text-decoration: none;
}
.homelink,.helplink,.skilllink,.mentorlink,.modulelink,.feedbacklink{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.footer2{
    display: flex;
    justify-content: space-around;
}
.contactus{
    display: flex;
    justify-content: space-around;
}
.contactus-main{
    text-align: center;
    width: 280px;
}
.aboutus{
    width: 29%;
  
}
.footer2div{
    padding-top: 4%;
    /* cursor: pointer; */
}
.footer1{
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(152, 143, 126);
    background-color: rgb(177, 155, 113);
    padding: 35px;
}

/* ----------------- */
.pro{
    width: 14%;
    /* height: 390px; */
    position:absolute;
    right:1.8%;
    top:75%;
    visibility: hidden;
    /* color: rgb(75, 79, 83); */
    color: black;
    background-color:white;
    border: 2px solid black;
    border-radius:10px ;
    padding-top: 20px;
}
.medal{
    width: 20px;
    height: 20px;
    margin-left: 8px;
}
.pro-div{
    /* border: 1px solid black; */
    padding: 10px;
}
#proicon1,#proicon2,#proicon3,#proicon4,#proicon5{
    padding-right: 10px;
}
#pp{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.ppdiv{
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.logout{
    background-color: black;
    color:white;
    border-bottom:1px solid black;
    border-radius: 0px 0px 8px 8px;
}
.uploadbtn{
    width: 50px;
    padding: 10px 27px 10px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left:87px;
    margin-top: 10px;
}
#input-file{
    visibility: hidden;
}
.footertop-gov-link-div{
    width: 58%;
    margin-left: 20%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 360px;
}
.skillindialink-img{
 width: 140px;
 height: 100px;
}
.my_gov-link-img{
    width: 180px;
 height: 100px;
}
.digi-in-link-img{
    width: 150px;
 height: 100px;
}
.madein-india-link-img{
 width: 150px;
 height: 100px;
}
