*{
    margin:0px;
    padding: 0;
}
body,html{
    height: 100%;
    background-color: rgb(228, 232, 239);
}

.flag-divider{
    position: absolute;
    left: 45rem;
    bottom: 21rem;
    box-shadow: 0px 1px 20px 2px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}
.intro1{

background-image: url("/img/mainpageimage.jpg");
/* Full height */
height: 100%;
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* box-shadow:-12px 12px 50px 0px ; */
}
@keyframes updown {
    0%{padding-top: 45%;}
    50%{padding-top: 46%;} 
    100%{padding-top: 45%;}
    
    
    /* 100%{padding-top: 40%;}  */

}
.arrow {
    position: absolute;
    top:-3rem;
    padding-left: 46%;
    width: 155px;
    animation-name: updown;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

.arrow-img{
    width: 60%;
    height: 50px; 
}

.slide-down{
   font-family: Arial, Helvetica, sans-serif;
   color: aliceblue;
}

.top-bar {
    /* margin-top: 1rem; */
    width: 100%;
    height: 132px;
    display: flex;
    /* background-color: red; */
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0rem;
    padding-bottom:8px ;
    z-index: 5;
}
.logo {
    padding-left: 10px;
    width: 62px;
    height: 83px;
    margin-left: 25px;
}
  .logolink{
    margin-top: 3%;
  }
  .logolink{
    padding-top: 5px;
    text-decoration: none;
  }
.logodiv{
    display: flex;
}
.title{
    padding-top: 14px;
    margin-left: 6px;
    padding-left: 8px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #3d4042;;
    font-family: 'Poppins', sans-serif;
}

.bar-content {
    display: flex;
    z-index: 5;
    color: #3d4042;
    justify-content: space-around;
    width: 70%;
    margin-left: 12%;
    padding-top: 4%;
    font-family: 'Poppins', sans-serif;
}

.nav-item-link:hover{
    color: #3d4042;
    text-decoration: underline;
}
.nav-item-link:visited,.logolink:visited{
    color: #3d4042;
    text-decoration: none;
}
.nav-item-link{
    height: 20px;
}
.nav-items{
    cursor: pointer;
}
.nav-item-link{
    color: #3d4042;
    text-decoration: none;
}
.nav-item-link:active,.logolink:active{
    color: #3d4042;
    text-decoration: none;
}

.introsecflex {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 5rem;
    /* border: 1px solid red; */
    padding-top: 6%;
    background-color: white;
    color: rgb(125, 134, 141)
}
.introsecdiv{
    width: 100%;
    background-color: white;
    padding-bottom: 5%;
 }
.tutorpic,.auditpic,.modpic,.skillpic,.jobpic{
    width: 100px;
    height: 95px;
}
.box{
    text-align: center;
    border: 1px solid white;
    box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
    padding: 1rem;
}
.boxcontent{
 width: 250px;
 margin-top: 20px;
 font-family: 'Poppins', sans-serif;
}
@keyframes fadein {
    0%{opacity:0}
    100%{opacity: 0.7}
}
#user{
    margin-right: 5px;
}
.nav-items:hover{
    text-decoration: underline;
} 
.animate {
    font-size: 60px;
    animation-name: fadein;
    animation-duration: 3s;
    color: aliceblue;
    padding-top: 0;
    padding-left: 2%;
    opacity: 0.8;
}

.animatecover {
    position: absolute;
    width: 65%;
    top: 80%;
    margin-left: 2%;
    
}
.featurehr{
    display: inline-block;
    border-style:0;
    width: 20%;
    border-top:.1rem solid rgb(134, 143, 150) ;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: .4rem;
}
.featurehead{
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    display: inline-block;
    color: rgb(125, 134, 141);
}
.featurediv{
    padding-top: 5%;
    /* border: 1px solid red; */
    text-align: center;
    background-color: white;
}
.featurediv2{
    margin-top: 10%;
    /* border: 1px solid red; */
    text-align: center;
    /* background-color: white; */
}
.jobvideo{
    width: 45%;
    height: 20%;
   
}

.jobvideodiv{
    /* border: 1px solid red; */
    background-color: white;
    margin-top: 6%;
    text-align: center;
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin-left: 10%;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
    color: rgb(125, 134, 141);
}
.videotext{
    text-align: left;
    margin-left:3rem ;
    margin-top: 1rem;
}
.jobhead,.comhead,.writinghead,.todohead,.helphead,.usefullinkshead,.contactushead,.serviceshead,.aboutushead{
    font-weight: 900;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(125, 134, 141);
    /* text-decoration: underline; */
}
.usefullinkshead,.contactushead,.serviceshead,.aboutushead{
    font-weight: 900;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    /* text-decoration: underline; */
}
.beforefoot{
    border: 1px silid red;
    background-color: white;
    margin-top: 2%;
}
.communicationskilldiv ,.sathidiv,.helpdesk{
    display: flex;
    margin-left: 4%;
    width: 85%;
}
.writingskilldiv,.tododiv{
    display: flex;
    margin-left: 12%;
    width: 85%;
}

.wspic,.sathipic,.helppic{
    width: 300px;
    height: 310px
}
.compic{
    width: 313px;
    height: 348px;
}
.todopic{
    width: 425px;
    height: 278px;
}


.comdis, .sathidis, .helpdis, .tododis, .wsdis {
        margin-top: 5%;
        font-family: 'Poppins', sans-serif;
        color: rgb(125, 134, 141);
        margin-left: 3%;
    }
.helpdesk{
    padding-bottom: 120px;
}
.footer{
    background-color: rgb(167 154 129);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.twit,.git,.insta,.linkedin{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.usefulllinks{
    color: white;
    text-decoration: none;

}

.usefullinks:visited{
    color: white;
    text-decoration: none;
}
.usefullinks:active{
    color: white;
    text-decoration: none;
}
.homelink,.helplink,.skilllink,.mentorlink,.modulelink{
    text-decoration: none;
    cursor: pointer;
}
.footer2{
    display: flex;
    justify-content: space-around;
}
.contactus{
    display: flex;
    justify-content: space-around;
}
.contactus-main{
    text-align: center;
    width: 280px;
}
.aboutus{
    width: 29%;
  
}
.footer2div{
    padding-top: 4%;
    /* cursor: pointer; */
}
.footer1{
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(152, 143, 126);
    background-color: rgb(177, 155, 113);
    padding: 35px;
}

.signindiv{
    width: 500px;
    height: 350px;
    /* border:1px solid red; */
    margin-left: 510px;
    margin-top: 210px;
    box-shadow: 0 2px 26px 0 rgba(219, 225, 243, 0.14);
    /* background-color: aquamarine; */
    z-index: 5;
}

.signindivoverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 12, 0.8);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    z-index: 5;
    visibility: hidden;
}
.signupdivoverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 12, 0.8);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    z-index: 5;
    visibility: hidden;
}
.content{
    width: 330px;
   
    border-radius: 10px;
    padding: 40px 30px;
    margin-top: 100px;
    box-shadow: -3px -3px 9px #aaa9a95c, 3px 3px 7px rgb(147 149 151 / 25%)
   
  }

  
  .content .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 35px;
    color: rgb(247, 233, 233);
    font-family: 'Poppins', sans-serif;
  }
  
  .content .field{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .field input{
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #e0d2d2;
    border: 1px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
   
  }
  
  
  .field input::placeholder{
    color: #e0d2d2a6;
  }
  .field:nth-child(2){
    margin-top: 20px;
  }
  
  .field span{
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: #ffffff;
  }
  
  
  
  button{
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    color: rgb(238, 226, 226);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
   margin-top: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
   
  }
   
  
  .or{
    color: rgba(255, 255, 255, 0.733);
    margin-top: 9px;
  }
  .content{
    text-align: center;
    margin-top: 220px;
    margin-left: 38%;

    color: rgba(255, 255, 255, 0.733);
  }
  .icon-button{
    margin-top: 15px;
  }
  .icon-button span{
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
     color: rgba(244, 247, 250, 0.795);
   border-radius: 5px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.164);
      backdrop-filter: blur(10px);
  }
  .icon-button span.facebook{
    margin-right: 17px;
  
  }
  button:hover,
  .icon-button span:hover{
    background-color: #babecc8c;
  }
  .closesignin{
    position: absolute;
    left:61.5%;
    top:30%;
    cursor: pointer;
    opacity: 0.8;
  }
  .closesignup{
    position: absolute;
    left:61.5%;
    top:30%;
    cursor: pointer;
    opacity: 0.8;
  }
  .callinput{
    margin-top: 15px;
  }
  .logomain {
    padding-left: 10px;
    width: 79px;
    height: 94px;
    margin-left: 25px;
    margin-top: 25%;
}
  @keyframes fade_in {
    0% {
        opacity: 0;
        transform:translateY(200px);
    }

    100%{
        opacity: 1;
    }
}


.fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .fadein.active {
    opacity: 1;
    transform: translateY(0);
  }
  
.user_num{
    color: black;
    font-weight: 600;
    margin: 0px 2px 0px 2px;
}
  
.pro{
    width: 14%;
    /* height: 360px; */
    position:absolute;
    right:1.8%;
    top:70%;
    visibility: hidden;
    /* color: rgb(75, 79, 83); */
    color: black;
    background-color:white;
    border: 2px solid black;
    border-radius:10px ;
    padding-top: 20px;
}
.medal{
    width: 20px;
    height: 20px;
    margin-left: 8px;
}
.pro-div{
    /* border: 1px solid black; */
    padding: 15px;
}
#proicon1,#proicon2,#proicon3,#proicon4,#proicon5{
    padding-right: 10px;
}
#pp{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.ppdiv{
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.logout{
    background-color: black;
    color:white;
    border-bottom:1px solid black;
    border-radius: 0px 0px 8px 8px;
}
.uploadbtn{
    width: 50px;
    padding: 10px 20px 10px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left:62px;
    margin-top: 10px;
}
#input-file{
    visibility: hidden;
}