*{
    margin:0px;
}
h1{
    color: red;
}
.intro1{
    background-color: rgb(13, 152, 13);
    height: 26rem;
}
.intro2{
    background-color: orange;
    height: 26rem;
}
.flag-divider{
    position: absolute;
    left: 45rem;
    bottom: 21rem;
    box-shadow: 0px 1px 20px 2px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

img{
    margin: 0;
    padding: 0;
}