*{
    margin:0px;
    padding: 0;
}
body,html{
    height: 100%;
    background-color: rgb(228, 232, 239);
}

.flag-divider{
    position: absolute;
    left: 45rem;
    bottom: 21rem;
    box-shadow: 0px 1px 20px 2px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}
.intro1{

background-image: url("/img/main.jpg");
/* Full height */
height: 100%;
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* box-shadow:-12px 12px 50px 0px ; */
}
@keyframes example {
    0%{padding-top: 43%;}
    50%{padding-top: 46%;} 
    100%{padding-top: 43%;}
    
    
    /* 100%{padding-top: 40%;}  */

}


.arrow{
   
    padding-top: 40%;
    padding-left: 45%;
    width: 155px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
.arrow-img{
    width: 60%;
    height: 50px; 
}

.slide-down{
   font-family: Arial, Helvetica, sans-serif;
   color: aliceblue;
}
.top-bar{
    width: 100%;
    height: 90px;
    /* background-color: red; */
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    z-index: 200;
    
}
.bar-content{
    display: flex;
    z-index: 5;
    color: white;
    justify-content: space-between;
    width: 48%;
    margin-left: 48%;
    padding-top: 2%;
    font-family: 'Poppins', sans-serif;
}

.nav-item-link:hover{
    color: white;
    text-decoration: underline;
}
.nav-item-link:visited{
    color: white;
    text-decoration: none;
}
.nav-item-link{
    color: white;
    text-decoration: none;
}
.nav-item-link:active{
    color: white;
    text-decoration: none;
}

.sec1,.sec2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}
.subsec{
    width: 25%;
    height:400px;
    /* background-color: red; */
    border-radius: 1rem;
    /* border: 1px solid  rgb(118, 127, 143); */
    box-shadow: 0 2.4rem 4.8rem rgba(139, 140, 143, 0.075);
    /* box-shadow: 2px 8px 20px 0px; */
    text-align: center;
    background-color: white;
}
.hr{
    display: inline-block;
    width: 23%;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: rgb(118, 127, 143);
    margin-bottom: 0.6rem;
    margin-left: 2%;
    margin-right:2% ;
}
.featureshead{
    display: inline-block;
    font-size: 40px;
    font-family:'Poppins', sans-serif ;
    color: rgb(118, 127, 143);
}
.featuresec{
    margin-top: 5rem;
    text-align: center;

}


.sec-head{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding-top: 6%;
    color: rgb(94, 100, 109);
    font-weight: 700;
   
}
.tutorpic,.skillpic,.modulepic,.testpic{
    width: 110px;
    height: 97px;
    padding-top: 20px;
}
.jobpic{
    width: 130px;
    padding-top: 13px;
    height: 110px;
}
.mentor-dis,.skill-dis,.module-dis,.job-dis,.test-dis{
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgb(90, 95, 103);
}
