*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-bar {
    /* margin-top: 1rem; */
    width: 100%;
    height: 132px;
    display: flex;
    /* background-color: red; */
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0rem;
    padding-bottom:8px ;
    z-index: 5;
}
.bar-content {
    display: flex;
    z-index: 5;
    color: #1f2021;
    justify-content: space-around;
    width: 70%;
    margin-left: 12%;
    padding-top: 4%;
    font-family: 'Poppins', sans-serif;
}
#user{
    margin-right: 5px;
}
.nav-items{
    cursor: pointer;
}
.nav-items:hover{
    text-decoration: underline;
} 
.nav-item-link{
    height: 20px;
}
.nav-item-link:hover{
    color: #1f2021;
    text-decoration: underline;
}
.nav-item-link:visited,.logolink:visited{
    color: #1f2021;
    text-decoration: none;
}
.nav-item-link,.logolink{
    color: #1f2021;
    text-decoration: none;
}
.nav-item-link:active,.logolink:active{
    color: #1f2021;
    text-decoration: none;
}
.logo {
    padding-left: 10px;
    width: 62px;
    height: 83px;
    margin-left: 25px;
}
  .logolink{
    margin-top: 3%;
  }
  .logolink{
    padding-top: 5px;
  }
.logodiv{
    display: flex;
}
.title{
    padding-top: 14px;
    margin-left: 6px;
    padding-left: 8px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: black;
}
.pro{
    width: 14%;
    /* height: 390px; */
    position:absolute;
    right:1.8%;
    top:70%;
    visibility: hidden;
    /* color: rgb(75, 79, 83); */
    color: black;
    background-color:white;
    border: 2px solid black;
    border-radius:10px ;
    padding-top: 20px;
}
.medal{
    width: 20px;
    height: 20px;
    margin-left: 8px;
}
.pro-div{
    /* border: 1px solid black; */
    padding: 10px;
}
#proicon1,#proicon2,#proicon3,#proicon4,#proicon5{
    padding-right: 10px;
}
#pp{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.ppdiv{
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.logout{
    background-color: black;
    color:white;
    border-bottom:1px solid black;
    border-radius: 0px 0px 8px 8px;
}
.uploadbtn{
    width: 50px;
    padding: 10px 27px 10px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left:87px;
    margin-top: 10px;
}
#input-file{
    visibility: hidden;
}
.modijiskill{
    width: 100%;
    height: 700px;
}
.main-display{
    margin-top: 145px;
}
.counts{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
    position: absolute;
    top:640px;
    /* border: 1px solid black; */
    background-color: white;
    padding: 50px 20px 50px 20px;
    border-radius: 20px;
    font-weight: 700;
}
.searchbardiv{
    margin-top: 140px;
    display: flex;
    border: 1px solid black;
    margin-left: 60%;
    width:35%;
}
.searchbar{
    margin-left:20px;
    outline: none;
    border-style:none ;
}

.searchbtn{
    border-style:none ;
    background-color: black;
    color: white;
    width: 160px;
    font-size: 17px;
    padding: 8px 5px 8px 5px;
    cursor: pointer;
}

.searchbtndiv{
    background-color: black;
    font-weight: 700;
   
}
#search{
    margin-left: 8px;
}
.communicationskilldiv,.readingskilldiv,.writingskilldiv{
    display: flex;
    /* justify-content: space-between; */
    margin-left: 20px;
    padding-top: 60px
}
.typingskilldiv,.learningskilldiv{
    display: flex;
    margin-left:120px;
}
.typeskillpic,.communicationskillpic,.readingskillpic,.writingskillpic{
    width: 380px;
    height: 350px;
}
.learningskillpic{
    width: 500px;
    height: 350px;
}
.skilldiv-main{
    margin-top: 50px;
}
.writngskilldiscrip,.readingskilldiscrip,.communicationskilldiscrip{
   width: 60%;
   margin-left: 60px;
}

.typingskilldiscrip{
    margin-top: 50px;
    width: 60%;
    margin-right: 120px;
    }
.learningskilldiscrip{
    margin-top: 50px;
    width: 55%;
    margin-right: 40px;
}
.discriphead{
    margin-top: 70px;
    margin-bottom: 40px;
    color: rgb(223, 200, 172);
    font-weight: 700;
    font-size: 20px;
}
.skill_select_btn{
    text-align: center;
    border-style: none;
    border: 1px solid rgb(201, 180, 155);
    border-radius: 27px;
    background-color:rgb(201, 180, 155);
    color: white;
    font-weight: 700;
    display: block;
    margin-top: 20px;
    width: 18%;
    padding: 10px 15px 10px 15px ;
}
.footer{
    background-color: rgb(167 154 129);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.twit,.git,.insta,.linkedin{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.usefulllinks{
    color: white;
    text-decoration: none;

}

.usefullinks:visited{
    color: white;
    text-decoration: none;
}
.usefullinks:active{
    color: white;
    text-decoration: none;
}
.homelink,.helplink,.skilllink,.mentorlink,.modulelink,.feedbacklink{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.footer2{
    display: flex;
    justify-content: space-around;
}
.contactus{
    display: flex;
    justify-content: space-around;
}
.contactus-main{
    text-align: center;
    width: 280px;
}
.aboutus{
    width: 29%;
  
}
.footer2div{
    padding-top: 4%;
    /* cursor: pointer; */
}
.footer1{
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(152, 143, 126);
    background-color: rgb(177, 155, 113);
    padding: 35px;
}
.footertop-gov-link-div{
    width: 58%;
    margin-left: 20%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.skillindialink-img{
 width: 140px;
 height: 100px;
}
.my_gov-link-img{
    width: 180px;
 height: 100px;
}
.digi-in-link-img{
    width: 150px;
 height: 100px;
}
.madein-india-link-img{
 width: 150px;
 height: 100px;
}